<div class="product-container p-3 rounded shadow-lg">
  <div class="image-container">
    <img [src]="imagePreview || 'https://placehold.co/600x400'" alt="Product" class="img-fluid rounded product-image">
  </div>

  <!-- Producto Detalles -->

  <div class="details-container col-md-6">
    <form (ngSubmit)="guardar()" [formGroup]="productoForm">
      <h2>Agregar Producto</h2>
      <div class="form-group">
        <div>
          <label class="form-label">Nombre</label>
          <input type="text" formControlName="nombre" class="form-control" placeholder="Ej. Correa">
        </div>
        <div>
          <label class="form-label">Precio</label>
          <input type="number" formControlName="precio" class="form-control" placeholder="Ej. 20.0">
        </div>
        <div>
          <label class="form-label">Stock</label>
          <input type="number" formControlName="stock" class="form-control" placeholder="Ej. 10">
        </div>
        <div>
          <label class="form-label">Descripcion</label>
          <input type="text" formControlName="descripcion" class="form-control" placeholder="Ej. Correa para perros grandes">
        </div>
        <div>
          <label class="form-label">Imagen</label>
          <input type="file" (change)="onFileSelected($event)" class="form-control" accept="image/*">
        </div>

        <!-- Botones-->
        <div class="mb-2 mt-3">
          <button type="submit" class="btn btn-primary btn-lg me-2">
            <i class="bi bi-check-square"></i> Agregar producto
          </button>
          <button (click)="retroceder()" class="btn btn-outline-secondary btn-lg">
            <i class="bi bi-arrow-90deg-left"></i> Regresar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
