<div class="container mt-4">
  <!-- Encabezado: Título y botón -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="title">Lista de Mascotas</h3>
    <button class="btn btn-success create-btn" (click)="abrirModal()">Nueva Mascotas</button>
  </div>

  <!-- Mensaje si no hay direcciones -->
  <div *ngIf="!mascotas || mascotas.length === 0" class="alert alert-info">
    No hay mascotas registradas.
  </div>

  <!-- Contenedor con bordes y sombra -->
  <div class="table-container-full" *ngIf="mascotas && mascotas.length > 0">
    <table class="table table-striped table-hover custom-table align-middle">
      <thead class="table-dark">
        <tr>
          <th class="col-index">#</th>
          <th class="col-id">ID</th>
          <th>NOMBRE</th>
          <th>EDAD</th>
          <th>PESO</th>
          <th>ESPECIE</th>
          <th>RAZA</th>
          <th class="col-actions">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mascota of mascotas; let i = index">
          <td class="col-index">{{ i + 1 }}</td>
          <td class="col-id">{{ mascota.idMascota }}</td>
          <td>{{ mascota.nombre }}</td>
          <td>{{ mascota.edad }}</td>
          <td>{{ mascota.peso }}</td>
          <td>{{ mascota.especie }}</td>
          <td>{{ mascota.raza }}</td>
     
          <td class="col-actions">
            <button class="btn btn-warning me-2" (click)="editarMascota(mascota)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-danger" (click)="eliminarMascota(mascota.idMascota)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal para Crear/Editar -->
<app-crear-masc
  [mascotaSeleccionado]="mascotaSeleccionado"
  (mascotaCreado)="cargarMascota()">
</app-crear-masc>