main {
  margin-top: 5rem;
}

.products-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-top: 2rem;
    font-weight: bold;
  }
}

mat-card {
  width: 400px;
  max-width: 400px;
  max-height: 400px;

  img {
    width: 400px;
    height: 250px;
  }
}

mat-paginator {
  width: 100%;
  align-self: flex-end;
}

.image-banner-container {
  background-image: url('../../../../assets/images/petsproductbanner.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;

  h1 {
    color: black;
    text-align: left;
    margin-left: 8rem;
    margin-top: 10rem;
  }
}

.card_viewholder {
  margin: 25px 30px 25px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1700px;
  gap: 20px;
}

.matCard-header-image {
  background-image: url('../../../../assets/images/vetLogo.jpg');
  background-size: cover;
  background-position: center;
}
