/* Layout general */
.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.custom-sidebar {
  width: 260px;
  background: #ffffff;
  padding: 20px;
  border-right: 4px solid var(--color-principal);
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

/* Color dinámico según rol */
:root {
  --color-principal: #51D94C; /* por defecto verde */
}

.no-user { --color-principal: orange; }
.cliente  { --color-principal: #007bff; }  /* azul */
.veterinario { --color-principal: #ffc107; } /* amarillo */
.admin { --color-principal: #dc3545; }      /* rojo */

/* Logo */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;

  a {
    color: var(--color-principal);
    text-decoration: none;
  }
}

/* Menú */
.custom-nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  border-radius: 20px;
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

.custom-nav-link:hover {
  background: var(--color-principal);
  color: #fff;
}

.custom-nav-link i {
  color: var(--color-principal);
}

.custom-nav-link.active {
  background-color: var(--color-principal);
  color: #fff;
}

/* Botón login/logout */
.btn-login, .btn-logout {
  padding: 8px 16px;
  border-radius: 20px;
  border: 2px solid var(--color-principal);
  background-color: #fff;
  color: var(--color-principal);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-login:hover, .btn-logout:hover {
  background-color: var(--color-principal);
  color: #fff;
}

/* Main Content */
.custom-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* Navbar */
.custom-navbar {
  background: #fff;
  border-bottom: 2px solid var(--color-principal);
  padding: 12px 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.navbar-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Contenido dinámico */
.main-content {
  flex: 1;
  overflow-y: auto;
  background: linear-gradient(to bottom, #fff, #f0fff4);
  padding: 20px;
  margin: 12px;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(31, 38, 135, 0.15);
}

/* Footer */
.custom-footer {
  text-align: center;
  padding: 10px;
  background-color: #f0fff4;
  font-size: 0.9rem;
  border-top: 1px solid #ccc;
  color: #aaa;
}
